.theme-pink,
.theme-pink .enyo-fittable-rows-layout {
    background-color: #f0f0f0;
    color: #333;
}
.theme-pink .onyx-toolbar {
    background: #fb7299;
    color: white;
}
.theme-pink .onyx-toolbar .onyx-button {
    background: #ff8ba7;
    border-color: #fb5885;
    color: white;
}
.theme-pink .onyx-toolbar .onyx-button.active {
    background: #fb5885;
}
.theme-pink .nice-padding {
    color: #333;
}

.theme-black,
.theme-black .enyo-fittable-rows-layout {
    background-color: #1a1a1a;
    color: #ccc;
}
.theme-black .onyx-toolbar {
    background: #333;
    color: #ccc;
}
.theme-black .onyx-toolbar .onyx-button {
    background: #444;
    border-color: #222;
    color: #ccc;
}
.theme-black .onyx-toolbar .onyx-button.active {
    background: #555;
}
.theme-black .nice-padding {
    color: #ccc;
}
.theme-black .rec-title,
.theme-black .rec-up {
    color: #ccc;
}
.theme-black .rec-card {
    border-color: #333;
}
.theme-black .fav-folder-name {
    color: #ccc;
}
.theme-black .fav-folder-count {
    color: #999;
}
.theme-black .fav-folder-divider {
    border-bottom: 1px solid #333;
}

.theme-pink .rec-title,
.theme-pink .rec-up {
    color: #333;
}
.theme-pink .rec-card {
    border-color: #eee;
}
.theme-pink .fav-folder-name {
    color: #333;
}
.theme-pink .fav-folder-count {
    color: #888;
}
.theme-pink .fav-folder-divider {
    border-bottom: 1px solid #eee;
}
.theme-pink .hist-header {
    background: #D86DA5;
    color: #fff;
}
.theme-pink .hist-row {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.theme-black .hist-header {
    background: #333;
    color: #ccc;
}
.theme-black .hist-row {
    border-bottom: 1px solid #333;
    cursor: pointer;
}
